<app-navbar></app-navbar>
<div class="section full-height">
    <div class="absolute-center">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <br>
                        <!-- <h1>Bootstrap<br>Menu</h1> -->
                        <!-- <p>scroll down for nav animation</p>   -->
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="switch">
                            <div id="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>